/***** General *****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #474747;
  background-color: #ebebeb;
}

/***** Layout *****/
main {
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
}

.commands {
  max-width: 30%;
  padding: 2rem;
  padding-left: 4rem;
  background-image: linear-gradient(#ebebeb, #d2d2d2);
}

.instructions {
  max-width: 70%;
  padding: 2rem;
}

.container {
  width: fit-content;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: #f3f3f3;
  box-shadow: 0 0.16rem 0.75rem #00000024;
}

.img-container {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

hr {
  margin-block: 1.5rem;
  height: 1px;
  background-color: #ccc;
  border: none;
}

/***** Typography *****/
h1 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
}

h1 a {
  font-size: 1.6rem;
}

h2 {
  /* width: fit-content; */
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #f1502f;
  border-bottom: 2px solid currentColor;
}

h2.indigo {
  color: #0d1117;
}

h3 {
  width: fit-content;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #474747;
  border-bottom: 2px solid currentColor;
}

p {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: rgb(0, 132, 255);
}

.inline-box {
  margin: 0.5rem;
  padding: 0.4rem 1.6rem;
  font-size: 1.4rem;
  background-color: #fff;
  box-shadow: 0 0.16rem 0.36rem #00000022;
  border-radius: 5px;
}

/***** Table *****/
table {
  /* flex-shrink: 0; */
  border-spacing: 0;
  box-shadow: 0 0.16rem 0.36rem rgba(0, 0, 0, 0.132);
  font-size: 1.4rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

thead tr {
  padding: 0.8rem 2.4rem;
  color: #fff;
  background-color: #474747;
  font-size: 1.5rem;
}

thead:first-of-type tr {
  background-color: #f1502f;
  font-size: 2rem;
}

thead tr.indigo {
  background-color: #0d1117;
}

/* tr {
  padding: 0.8rem 2.4rem;
} */

tbody tr:nth-child(1n) {
  background-color: #ffffff;
}

tbody tr:nth-child(2n) {
  background-color: #f5f5f5;
}

th,
td {
  padding: 1rem 2.4rem;
}

td:nth-child(1) {
  white-space: nowrap;
}

td:nth-child(2) {
  padding-left: 1.6rem;
  margin-left: 1.6rem;
  border-left: 0.1rem solid #e8e8e8;
}

/* Utility classes */

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.me-1 {
  margin-right: 1rem;
}

.me-2 {
  margin-right: 2rem;
}

.bs-1 {
  border-left: 1px solid #474747;
}

.be-1 {
  border-right: 1px solid #474747;
}
